<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{student.class_num}}반</h1>
    <h2>이름 : {{student.name}}</h2>
    <h2>전화번호 : {{student.phone_num}}</h2>
    <h2>자기소개 :</h2>
    <p>{{student.intro_text}}</p>
    <a href="{% url 'edit' student.pk %}">수정하기</a>
    <form action="{% url 'delete' student.class_num student.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit">삭제하기</button>
    </form>
  </body>
</html>
