<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>Home</h1>
    <div>{{user_chat}}</div>
    <div>my name is {{user_name}}</div>
    <form action="{% url 'result' %}" method="POST">
      {% csrf_token %}
      <input type="text" placeholder="이름" name="username" />
      <br />
      <br />
      <button type="submit">체크하기</button>
    </form>
  </body>
</html>
