<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="{% url 'edit' student.pk %}" method='POST'>
        {% csrf_token %}
        <input placeholder="이름을 입력하세요" name="name" value="{{student.name}}"/>
        <br/>
        <br/>
        <input placeholder="전화번호를 입력하세요" name="phone_num" value="{{student.phone_num}}"/>
        <br/>
        <br/>
        <label for='intro'>자기소개 : </label>
        <br/>
        <textarea id='intro' name="intro_text">{{student.intro_text}}</textarea>
        <br/>
        <br/>
        <button type="submit">등록하기 </button>
    </form>
</body>
</html>